---
---

//
// IMPORTS
//

@import "bootstrap";
// Syntax highlighting @import is at the bottom of this file
.wrapper-masthead{
  padding-top: 15px;
  background-color: #FFF;
}
.posts{
  margin-top:20px;
  position: relative;
}
.navbar-right{
  font-size: 1.2em;
}
.navbar-header *:hover{
  text-decoration: none;
}
.site-avatar img {
  width: 70px;
  height: 70px;
  margin-right: 15px;
}
.site-info{
  display: inline-block;
}
.site-avatar img,.site-info{
  vertical-align: middle;
}
.site-info:hover{
  text-decoration:none;
}
.site-name {
  margin: 0;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: 5px 0 0 0;
  font-size: 16px;
}
.header-image{
  margin-top: 10px;
}
@media (min-width: 290px) {
  .header-image {
    width: 230px;
    height: 140px;
  }
}
@media (min-width: 500px) {
  .header-image {
    width: 480px;
    height: 180px;
  }
}
@media (min-width: 768px) {
  .header-image {
    width: 750px;
    height: 220px;
  }
}
@media (min-width: 992px) {
  .header-image {
    width: 970px;
    height: 300px;
  } 
}
@media (min-width: 1200px) {
  .header-image {
    width: 1170px;
    height: 400px;
  } 
}
.features{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.features i{
  width: 100px;
  height: 100px;
}
.features .feature{
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  vertical-align: top;
}
.features .feature li{
  max-width: 330px;
  min-width: 280px;
}
.wrapper-footer {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #C8C6C6;
}

.footer {
  padding: 20px 0;
  text-align: center;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
