<script type="text/javascript">
function validateAndDownload() {
	var result=document.querySelector('input[name="osandtype"]:checked').value
    if (result==null || result=="") {
        alert("Please select an Ecgine setup appropriate for you system.");
        return false;
    }else{
		switch (result) {
			case "windows64":
				window.open('http://s1.infra.ecgine.com/files/ecgine-client-x64-1.0.exe');
				break;
			case "windows32":
				window.open('http://s1.infra.ecgine.com/files/ecgine-client-x86-1.0.exe');
				break;
			case "mac":
				window.open('');
				break;
		}
    }
}
function showDemo(){
		var cp = $('#demo-video');
		cp.show();
		cp.dialog();
}
</script>