/**
* Custom Sass styles and vendor overrides
*
*/
body {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    padding-top: 50px;
}
p {
    font-size: 18px;
}
h1,h2,h3,h4,h5,p{
  font-family: "Roboto Condensed", sans-serif;
}
h3 {
    font-size: 28px;
}
h2 {
    font-size: 36px;
}
.italic{
  font-style: italic;
}
.rightside-bar{
  right: 0px;
  padding: 5px;
  border: 1px solid #C3BEBE;
  position: fixed;
  margin-top: 15%;
  border-radius: 5px 0px 0px 5px;
  background: #fff;
  z-index: 2;
}
.site-info h2{
  text-align: left;
  margin-left: 10px;
}
.main-img,.crm-img,.accounter-img {
    background: #551E69;
    background: -webkit-linear-gradient(#551E69, #5B3369);
    background: -o-linear-gradient(#551E69, #5B3369);
    background: -moz-linear-gradient(#551E69, #5B3369);
    background: linear-gradient(#551E69, #5B3369);
}
.header-image{
  padding-top: 15%;
  color: white;
  text-align: center;
  background-size: cover;
}
.header-last {
    padding-bottom: 10%;
}
.navbar-right{
  font-size: 1.2em;
}
.navbar.navbar-default {
  margin-bottom: 0px;
}
.navbar-header *:hover{
  text-decoration: none;
}
.site-avatar,.site-avatar:hover{
  color:#fff;
}
.site-avatar{
  display:flex;
  margin-top: 5px
}
.site-avatar img {
  width: 40px;
  height: 40px;
}
.site-info{
  display: inline;
}
.site-info h2{
  display: inline;
  vertical-align: top;
}
.site-info .site-version{
  color: #E34747;
}
.site-avatar img,.site-info{
  vertical-align: middle;
}
.site-info:hover{
  text-decoration:none;
}
.site-name {
  margin: 0;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}
.features{
  margin-top: 3%;
}

.features{
  margin-top: 3%;
} h2{
  text-align: center;
}
.site-description {
  margin: 5px 0 0 0;
  font-size: 16px;
}
.carousel-caption{
  margin-bottom: 10%;
}
.white{
  color: #fff;
}
.features{
  display: inline-block;
  width: 100%;
  text-align: center;
}
.features i{
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #38789B;
  border-radius: 20px;
  padding: 12px;
}
.features .feature{
  text-align: center;
  list-style: none;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  vertical-align: top;
}
.features .feature li{
  max-width: 330px;
  min-width: 280px;
}
.wrapper-footer {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #551E69;
}
.footer {
  padding: 20px 0;
  text-align: center;
}
.fb-like{
  overflow: hidden;
  height: 20px;
}
.rightside-bar > div{
  margin-top: 5px;
}
a.btn.signup{
  margin: 1em;
  display: inline-block;
  font-size: 1.8em;
  padding: 0.3em .8em;
  background: #582869;
  border-color: #FFFFFF;
}
a.btn.signup:hover{
  background: #85429C;
  text-decoration : none;
}
.navbar-default {
    background-color: #551E69;
    border:0px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus {
  color:#fff;
  background-color:#53316F;
}